// Needs refactored with variables
@import 'vars';

@mixin transition{
    -moz-transition: $transition;
    -webkit-transition:$transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition; }

*{
    // basic clears
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.5rem;
    background-color: $background-dark;
    margin: 0;
    padding: 0;

    // Font and Color (all the same)
    font-family: $font;
    color: $font-color-dark;
}

body{
    width: 42rem;
    margin: 0 auto; 
    @include transition;
    @media only screen and (max-width: 750px){ width: 33rem; };
    @media only screen and (max-width: 550px){ width: 24rem; };
}


nav { 
    border-top: 5px solid $menu-border-dark;
    border-bottom: 2px solid $menu-border-dark;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    // Derek Barnes' Developer Blog
    & p{
        align-self: center;
        & a{ font-weight: bolder; } }
    // Colored Dots
    & .categories{ 
        display: flex;
        & .nav-icon-category{ margin-left: .5rem; } }
}

// Social Media Icons Below Nav
img{ height: $icon-size; }

/* block "Main" */
main{
    @include transition;
    min-height: calc(100vh - 414px);
}


/* List Pages */
.category-title{ margin-top: 1.5rem; }
ul.post-list{
    list-style: none;
    // The outermost container
    & li.post-item{
        margin: 1.5rem 0;
        & a{ display: flex; }
        // The category image for the post
        & img{ margin-right: 1.5rem; }
        // The title or category name
        & p{ align-self: center; margin-right: 1.5rem;} }
}


/* Single Page */
.single-title{ margin: 1.5rem 0; }
// Post Video
iframe{ margin: 1rem 0; width: 100%; }


/*  Footer section */
.social-container{
    display: inline-block;
    width: 70%;
    margin: 1.5rem 0 1rem 0;
}
footer{
    // This is flipped from border top
    border-top: 2px solid $menu-border-dark;
    border-bottom: 5px solid $menu-border-dark;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
}


// From: http://hugocodex.org/add-ons/share-buttons/
/* Fairly specific stylesheet, so don't fuck with this unless you know why */ 
#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {
    position: relative;
    text-align: left; 
    height: 36px; 
    width: 32px; 
    float: left; 
    text-align: center;
}

#share-buttons > div > img {height: 16px; fill: #d5d5d5; margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}
#share-buttons > div.facebook > img {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > img {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > img {height: 19px; margin-top: 7px;}