@import 'vars';

#markdown{
    // Typography
    & h1, & h2, &h3, &h4 { margin: 1.5rem 0 1.5rem 0; }
    & p {
        margin: 1.3rem 0;
        font-size: 14pt;
    }
    // For ~~syntax~~
    del{ text-decoration:line-through; }

    // Blockquotes
    & blockquote {
        background-color: $background-pre-code;
        font-style: italic;
        margin-left: 1.5rem; 
        & p{
            background-color: $background-pre-code;
            padding: .5rem;}
    }

    // Lists
    & ul, & ol, & ul li, & ol li {
        margin-top: .5rem;
        padding-left: .5rem;
    }

    // Code and Pre
    div.highlight pre{ background-color: $background-pre-code !important; }
    code span{ background-color: $background-pre-code; }

    & pre, & code {
        font-family: monospace;
        font-size: .75rem;
        margin: .5rem 0 .5rem 0;
        line-height: 1rem; }
    & pre {
        background-color: $background-pre-code;
        color: $font-color-pre-code;
        border-radius: .5rem;
        padding: 1rem;
        -moz-tab-size:4;
        -o-tab-size:4;
        tab-size:4; }
    & code {
        background-color: $background-pre-code;
        color: $font-color-pre-code;
        border-radius: .5rem;
        padding: .25rem; }
    & table{
        margin: 1.5rem 0 1.5rem 0; 
        width: 100%; 
        & th{
            height: 2.5rem;
            min-width: 10rem;
            background-color: $background-pre-code;
            color: $font-color-pre-code;
            border-radius: .5rem; }
        & td{
            border-bottom: 1px solid $background-pre-code;
            height: 1.5rem; }
    }

    // Links
    & a{ text-decoration: none; }
    & a:hover{ text-decoration: underline; }

    //Styling for <del>
}
    