/* TYPOGRAPHY */
$font:                      Arial, Helvetica, sans-serif;
$font-color-standard:       #424242;
$font-color-pre-code:       #f8f8f2;
$font-color-dark:           #f0ede7;
// Currently all are defaults
// which I'm fine with
$super-font-size:           '';
$h1-font-size:              '';
$h2-font-size:              '';
$h2-font-size:              '';
$p-font-size:               '';
$accent-font-size:          '';

/* MENU BORDERS */ 
$menu-border-light: whitesmoke;
$menu-border-dark: #222;

/* BACKGROUND */ 
$background-dark: #282828;
$background-pre-code: #3d2b4d5b;

/* BLOCKQUOTE */ 
$blockquote-light: whitesmoke;
// same as code-pre
$blockquote-dark: '';



/* ICONS */
$icon-size: 42px;


/* LINKS */
$link-style:            none;
$link-color:            #42424242;
$link-color-hover:      #42424242;


/* TRANSITION & @MEDIA SIZES */
$transition:        all 1s ease-in-out, left 1.5s ease-in-out;

$vert-xl:           '';
$vert-l:            '';
$vert-m:            '';
$vert-s:            '';

$horizontal-xl:     '';
$horizontal-l:      '';
$horizontal-m:      '';
$horizontal-s:      '';