<!DOCTYPE html>
<html lang="en">
<head>
    <!-- pass . for current context -->
    {{ partial "meta.html" . }}

    <!-- Hugos way to load SCSS -->
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
    {{ $markdownStyle := resources.Get "sass/markdown.scss" | resources.ToCSS }}
    <link type='text/css' rel="stylesheet" href="{{ $style.Permalink }}">
    <link type='text/css' rel="stylesheet" href="{{ $markdownStyle.Permalink }}">

</head>
<body>
    {{ partial "nav.html" }}
    {{ partial "social-icons.html" }}
    <main>
        {{ block "main" . }} {{ end }}
    </main>
    {{ partial "foot.html" }}
    <script type="application/javascript" src="/js/themeSlider.js"></script>
</body>
</html>