{{ define "main" }}

<!-- Decide which type it is and disply the appropriate title -->
{{ if eq .Type "ux" }}  <h1 class='category-title'>User Experience & Design</h1>   {{ end }}
{{ if eq .Type "fe" }}  <h1 class='category-title'>Frontend</h1>                   {{ end }}
{{ if eq .Type "be" }}  <h1 class='category-title'>Backend</h1>                    {{ end }}
{{ if eq .Type "db" }}  <h1 class='category-title'>Database</h1>                   {{ end }}
{{ if eq .Type "cms" }} <h1 class='category-title'>Content Management</h1>         {{ end }}
{{ if eq .Type "ops" }} <h1 class='category-title'>Operations</h1>                 {{ end }}

  <ul class='post-list'>
  {{ range where .Pages "Kind" "page" }}
      <li class='post-item'>
        <a href="{{ .Permalink }}">
          <img src="{{ .Site.BaseURL }}/icons/primary/icon-{{ .Type }}.svg" alt="">
          <div>
            <h2> {{ .Title }} </h2>
            <small>{{ .Date.Format "January 2006" }}</small>
          </div>
        </a>
      </li>
    </div>
    {{ end }}
  </ul>

{{ end }}