{{ define "main" }}
  <div class='single-title'>
    <h1>{{ .Title }}</h1>
    <iframe width="560" height="315" src="{{ .Params.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br> <small>{{ .Date.Format "January 2006" }}</small>
    <br>
    {{ partial "share-buttons.html" . }}
  </div>
  <div id='markdown'>
    {{ .Content }}
    <br>
    {{ partial "share-buttons.html" . }}
  </div>
{{ end }}