<section class='categories'>
  {{ range where site.Pages "Kind" "section" }}
      <div class='nav-icon-category'>
        <a href="{{ .Permalink }}">
          <img src="{{ .Site.BaseURL }}/icons/primary/icon-{{ .Type }}.svg" alt="">
        </a>
      </div>
  {{ end }}
</section>