<!-- Credit: -->
<!-- https://github.com/praveenjuge/hugo-SEO-meta-tags -->
<!-- And whatever repo those templates are from .. find that and credit -->


<!-- SOCIAL -->
<!-- Those are hosted on a hugo repo somewhere ?? -->
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<!-- TITLE TAGS -->
<title itemprop="name">{{ .Site.Title }} | {{ .Title }}</title>
<meta itemprop="name" content="{{ .Site.Title }} | {{ .Title }}" />
<meta name="application-name" content="{{ .Site.Title }} | {{ .Title }}" />


<!-- DESCRIPTION -->
<meta name="description" content="{{ .Params.description }}" />
<meta itemprop="description" content="{{ .Params.description }}" />


<!-- LINK -->
<base href="{{ .Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />


<!-- IMAGE -->
{{ with .Params.image }}
  <!-- This is almost always be the case -->
  <meta itemprop="image" content="{{ .Params.image | absURL }}" />
{{ else }}
  <!-- There is no post image ??? -->
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
{{ end }}


<!-- ARTICLES (baseURL/fe/react.md) -->
<!-- To make sure this renders only in the article page, we check the section -->
{{ if eq .Section "blog" }}

<!-- Pagination meta tags for list pages only -->
{{ $paginator := .Paginate (where .Pages "Section" "blog") }} 
{{ if $paginator }}
  <link rel="first" href="{{ $paginator.First.URL }}" />
  <link rel="last" href="{{ $paginator.Last.URL }}" />
  {{ if $paginator.HasPrev }}
    <link rel="prev" href="{{ $paginator.Prev.URL }}" />
  {{end }}
  {{ if $paginator.HasNext }}
    <link rel="next" href="{{ $paginator.Next.URL }}" />
  {{end }}
{{end }}


{{ with .Site.Params.author }}
  <meta property="article:author" content="{{humanize . }}" />
  <meta name="author" content="{{humanize . }}" />
{{ end }}

{{ with.Params.category }}
  <meta name="news_keywords" content="{{ index . 0 }}" />
  <meta property="article:section" content="{{ index . 0 }}" />
{{ end }}

<script defer type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": {{ .Title }},
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.github }}"
    },
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "description": {{ .Description }},
    "wordCount": {{ .WordCount }},
    "mainEntityOfPage": "True",
    "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
    "image": {
      "@type": "imageObject",
      "url": "{{ with .Params.image }}{{ .Permalink }}{{ end }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "imageObject",
        "url": "https://www.example.com/images/brand/favicon.png"
      }
    }
  }
</script>
{{ end }} <!-- if eq .section 'Blog' -->


<!-- PAGES (/contact or /about, etc) -->
<meta name="author" content="{{ .Site.Params.author }}" />
<script defer type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ .Permalink }}",
    "sameAs": [
      "{{ .Site.Params.facebook }}",
      "{{ .Site.Params.github }}"
    ],
    "name": "{{ .Title }}",
    "logo": "https://www.example.com/images/brand/favicon.png"
  }
</script>

<!-- FAVICONS -->
<link rel="shortcut icon" href="/icons/favicon-180.ico" />
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/icons/favicon-72.ico" />
<link rel="icon" href="/icons/favicon-72.ico" sizes="32x32" />

<link rel="apple-touch-icon" href="/icons/favicon-180.ico" />
<!-- Depending on the device apple will choose from: -->
<link rel="apple-touch-icon" sizes="72x72" href="/icons/favicon-72.ico" />
<link rel="apple-touch-icon" sizes="114x114" href="/icons/favicon-114.ico" />
<link rel="apple-touch-icon" sizes="120x120" href="/icons/favicon-120.ico" />
<link rel="apple-touch-icon" sizes="144x144" href="/icons/favicon-144.ico" />
<link rel="apple-touch-icon" sizes="152x152" href="/icons/favicon-152.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/favicon-180.ico" />

<link rel="icon" sizes="180x180" href="/icons/favicon-180.ico" />


<!-- CRAWLERS -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />