{{ $pageurl := .Permalink }}

<span><small>Share: </small></span>

<div id="share-buttons">
    <div class="facebook" title="Share this on Facebook" onclick="window.open(
        'http://www.facebook.com/share.php?u={{ $pageurl }}');">
        <img src="{{ site.BaseURL }}/icons/social/icon-facebook-share.svg" alt="">
    </div>

    <div class="twitter" title="Share this on Twitter" onclick="window.open(
        'http://twitter.com/intent/tweet?text={{ .Title }}:%20{{ .Description }}&url={{ $pageurl }}');">
        <img src="{{ site.BaseURL }}/icons/social/icon-twitter-share.svg" alt="">
    </div>

    <div class="reddit" title="Share this on Reddit" onclick="window.open(
        'http://www.reddit.com/submit?url={{ $pageurl }}&title={{ .Title }}');">
        <img src="{{ site.BaseURL }}/icons/social/icon-reddit-share-white.svg" alt="">
    </div>

    <div class="linkedin" title="Share this on Linkedin" onclick="window.open(
        'https://www.linkedin.com/shareArticle?mini=true&url={{ $pageurl }}&title={{ .Title }}summary=&source={{ site.BaseURL }}');">
        <img src="{{ site.BaseURL }}/icons/social/icon-linkedin-share.svg" alt="">
    </div>

</div>