<div class='social-container'>
    <a href="http://youtube.com/"> <img src="{{ site.BaseURL }}/icons/social/icon-youtube.svg" alt=""> </a>
    <a href="http://twitter.com/"> <img src="{{ site.BaseURL }}/icons/social/icon-twitter.svg" alt=""> </a>
    <a href="http://dev.to/"> <img src="{{ site.BaseURL }}/icons/social/icon-dev.svg" alt=""> </a>
    <a href="http://reddit.com/"> <img src="{{ site.BaseURL }}/icons/social/icon-reddit.svg" alt=""> </a>
    <a href="http://gitlab.com/"> <img src="{{ site.BaseURL }}/icons/social/icon-gitlab.svg" alt=""> </a>
    <a href="http://github.com/"> <img src="{{ site.BaseURL }}/icons/social/icon-github-white.svg" alt=""> </a>
</div>