{{ define "main" }}
<div class='main-header'>
  <h1>Welcome!</h1>
  <br>
  <p>Most recents posts are below.</p>
  <p>Top right filters by category.</p>
  <p>Please be sure to follow / sub / contact me on social.</p>
  <p>Watch YouTube playlists for best results &#128513;</p>
  <br>
</div>

<ul class='post-list'>
  {{ range where .Site.Pages "Kind" "page" }}
    <li class='post-item'>
      <a href="{{ .Permalink }}">
        <img src="{{ .Site.BaseURL }}/icons/primary/icon-{{ .Type }}.svg" alt="">
        <div>
          <h2> {{ .Title }} </h2>
          <small>{{ .Date.Format "January 2006" }}</small>
        </div>
      </a>
    </li>
  </div>
  {{ end }}
</ul>
{{ end}}